[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
pylint = "*"
pep8 = "*"
autopep8 = "*"

[packages]
markdown = "*"
tzlocal = "*"
pelican = "*"
invoke = "*"
pymdown-extensions = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
